@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

*{
margin:0;
padding:0;
border:none; 
box-sizing: border-box;
}

html{
scroll-behavior: smooth;
}

.bordure{
border:solid 0px red
}

body{
font-family: Raleway;
font-size: 16px;
font-weight: 400; 
}

h1,h2{
font-size: 22px;
font-weight: 700;
margin:15px 0;
}

h3{
font-weight: 700;
font-size: 16px;
margin:15px 0;
}
h4{
font-weight: 700;
font-size: 18px;
margin:15px 0;
}
.gras{
font-weight: 700;
}

p{ 
margin: 10px 0;
}

.page{
width: 100%;
max-width: 1440px;
margin:0 auto; 
}
a{
text-decoration: none;
color:black
}


header{
display:flex;
flex-direction:row;
justify-content: space-between;
padding: 0 20px;

}

header > a > img{
width: 61px;
margin-top: 44px;
}

header > nav{
display:flex;
gap: 15px;
}

header > nav > a{
padding-top: 48px;  
padding-left: 25px;
padding-right:  25px;
display:inline-block;
border-top: transparent 2px solid;
}
header > nav > a:hover{
border-top: #0065fc 2px solid;
color:#0065Fc; 
}

main{
padding : 0 20px
}


/* formulaire de recherche */

form{
display:flex;
}

.icon-location{
display:flex;
justify-content: center;
align-items: center;
width: 50px;
height:50px;
border-radius: 15px 0 0 15px ;
background-color: #F2F2F2;
}

input{
font-weight: 700;
font-size: 18px;
font-family: raleway,sans-serif;
height: 50px;
width: 230px;
border-radius: 0px;
padding:0 15px;
border:solid 1px #F2F2F2;        
}

button{
display:flex;
justify-content: center;
align-items: center;
background-color: #0065Fc;
color: white;
font-weight: 700;
font-size: 18px; 
font-family: raleway,sans-serif;
border-radius:0 15px 15px 0 ;
height: 50px;
padding : 0 15px ; 
}

.recherche-loupe{
display:none;
}


/* style filtre */
.filtres{
display:flex;
flex-wrap: wrap;
margin-top: 15px;
margin-bottom: 10px;
cursor: pointer;
}

.filtres h3{
padding-right: 15px;
}

.iconsFilters{
display:flex;
gap:15px;
flex-wrap: wrap;
}

.iconsFilters div{
display:flex;
align-items: center;
flex-wrap: nowrap;
border: 2px solid #d9d9d9;
transition-duration: 0.3s;
cursor: pointer;
font-weight: 700;
font-size: 17px;
height: 48px;
padding:0 15px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
border-bottom-left-radius: 25px; 
}

.iconsFilters i{
color:#0065Fc;
margin-right: 10px;
}

.iconsFilters :hover{
background-color: #deebff;
}

.info{
display:flex;
align-items:center;
}

.info i{
width: 30px;
height: 30px;
border-radius: 50px;
border: 1px solid #d9d9d9;
margin-left: 0px;
padding-left: 11px;
padding-top: 5px;
color: #0065fc;
font-size: 15px;
margin-right: 10px;
}

.info p{
margin: 0;
}
/* bloc hebergement et populaire  */

.hebergements-et-populaires{
display:flex;
gap:30px;
margin-top: 30px;
}
.hebergements{
background-color: #F2F2F2;
width: 65%; 
border-radius: 25px;
padding:25px;
}

.hebergements p{
font-size: 14px;
margin: 15px 0px 5px 0px;
}
.hebergement > figure > figcaption > h3{
margin: 0;
}

.hebergementMainHeaderTitre{
font-size: 22px;
line-height: 26px;
Line-height: 100%;
Vertical-align: Top;
}

.hebergementMainTable{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
row-gap: 20px;
}


.hebergement{
background-color: #FFFFFF;
border-radius: 15px;
padding:5px;
width:31%;
box-shadow: 0px 8px 11px -6px #9a9a9a;
}

.hebergement > figure > img{
border-radius:15px 15px 0 0 ;
height: 124px;
width: 100%;
object-fit: cover;
object-position: center center;
}

.hebergement > figure > figcaption{
padding: 5px 10px ;
}

.hebergement div{
color: #0065Fc;
margin: 0 0px 5px 10px; 
}


/* style les plus populaires */

.populaires{
background-color: #F2F2F2;
border-radius: 25px;
padding:25px;
width: 35%;
}
.populaires p{
font-size: 14px ;
}

.populaires h2{
display: flex; 
justify-content: space-between;
}
.bluechart{
color: #0065Fc;

} 
.populaires h3{
margin:0;
}
.populairesMainTable{
display: flex;
flex-direction: column;
row-gap: 15px;
}

.populaire{
background-color: #FFFFFF;
border-radius: 15px;
padding:5px;
box-shadow: 0px 8px 11px -6px #9a9a9a;
}

.populaire > figure{
display: flex;
}

.populaire > figure >  img{
border-radius:15px 0 0 15px;
height: 144px;
width: 123px;
object-fit: cover;
object-position: center center;

}
.populaire > figure > figcaption{
padding: 5px 10px;
display: flex;
flex-direction: column;

}
.populaire > figure > figcaption >  p{
flex-grow: 1;

}
.populaire i{
font-size: 12px;
}

.grisF2F2F2{
color: #F2F2F2;
}
.populaire div{
color: #0065Fc;
}



/* style du bloc activités à marseille  */

.activites-marseille{ 
display:flex;
flex-direction:column;
}

.activites-marseille > h2{ 
padding : 25px
}

.container-activites{
display:flex;
flex-direction: row;
column-gap: 30px;
}
.activite{
margin:0; 
width: 25%;
}

.activite > figure{
overflow: hidden;
background-color: white;
border-radius: 20px;
box-shadow: 0px 8px 11px -6px #9a9a9a;
}

.activite > figure > img{
width:100% ;
height: 380px;
object-position: center center;
object-fit: cover;
}

.activite > figure > figcaption{
height: 60px;
display: flex;
align-items: center;
padding: 5px 10px;
}
.activite h3{
margin: 0;
}

/* style du footer */


footer{
margin-top: 95px; 
padding-bottom: 10px;
background-color: #f2f2f2;
display: flex;
flex-wrap: wrap;
white-space: nowrap;
width: 100%;
justify-content: space-between;
padding-left: 30px;
}

.footer-title{
font-weight: 700;
margin-bottom: 10px;
font-size: 18px;
padding-right: 50px;
}
footer ul{
margin-top: 20px;
margin-bottom: 30px;
list-style: none;
text-align: left;
padding-left: 0;
}
footer li{
font-size: 14px;
margin-top: 10px;
margin-left: 0px;
float: initial;
}
footer li a{
padding-left: 0;
}

footer li a:hover{
color: #0065fc;
}

/* fin du style footer  */


/* ************************************************************************************************************************** */
                                             /* RESPONSIVE TABLETTE  */
/* ************************************************************************************************************************** */

@media (max-width: 991px){

/* Debut header - tablette */

.hebergements-et-populaires{
flex-direction:column;
}
.hebergements{
width: 100%;
}
.populaires {
width: 100%;
}
.populairesMainTable{
flex-direction: row;
justify-content: space-between;
}

.populaire > figure >  img{
width: 80px;
}

.populaire {
width: 31%;
}

.activite > figure > img{
height: 200px; 
}

}

/* ************************************************************************************************************************** */
                                            /* RESPONSIVE MOBILE */
/* ************************************************************************************************************************** */


/* Debut header - mobile */

@media (max-width: 767px) {
.body {
width: 100%;
margin: 0 auto;
}
h1 {
font-size: 24px; 

}
header {
flex-direction: column;
align-items: center;
padding:0; 
}
nav {
text-align: center;
width: 100%;
padding-top: 35px;
}

header > nav > a { 
padding: 0px 0 15px 0;
width: 50%;
text-align: center;
display:inline-block;
border-bottom: transparent 3px solid;
border-top: none;
}
header > nav > a:hover {
border-bottom: 3px solid;
border-top: none; 
}
.iconsFilters div {
width: 48%;
}

/* fin header - mobile */
/* Début formulaire de recherche - mobile */

.form {
max-width: 40%;
min-width: 95%;
margin: 0 auto;
position: relative;
}
input{
flex-grow: 1;
}
.recherche-texte{
display:none;
}
.recherche-loupe{
display:block;
}

/* Fin formulaire de recherche - mobile */

/* debut de la section hébergement et populaires -mobile  */

.hebergements-et-populaires{
flex-direction: column-reverse;
}
.populaires {
background-color: #F2F2F2;
border-radius: 0px;
}
.populaire {
width: 100%;
}
.populaire > figure >  img{
width: 120px;
}

.populairesMainTable{
flex-direction: column;
row-gap: 15px;
}

.hebergements{
background-color: #FFFFFF;
border-radius: 0 ;
}
.hebergementMainTable {
padding-left: 0px;
padding-right: 0px;
flex-direction: column;
}
.hebergementMainTable a {
width:100%; 
}

/* fin de la section hébergement et populaires -mobile-  */

/* debut activités à Marseille */

.container-activites {
flex-direction:column;
row-gap: 15px; 
}

.activite {
width: 100%;
}

.activite > figure > img{
height: 141px;
}

/* fin activités à Marseille */

/* debut - footer - mobile */

footer {
flex-direction: column;
}
/* fin - footer - mobile */
}


/* ************************************************************************************************************************** */
                                        /* FIN DU SITE BOOKI  */
/* ************************************************************************************************************************** */