@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

*{
    margin:0;
    padding:0;
    border:none; 
    box-sizing: border-box;
    }


.bordure{
    border:solid 1px red
}

body{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    
    }

 h1,h2{
    font-size: 22px;
    font-weight: 700;
    margin:15px 0;
    }

p{
    margin:15px 0;
}
.page{
    width: 100%;
    max-width: 1440px;
    margin:0 auto; 
}
a{
    text-decoration: none;
    color:black
}


header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
  
}
    



header > a > img{
   width: 61px;
  margin-top: 44px;
  
}

header > nav{
    display:flex;
    gap: 15px;
  
    
    

}
header > nav > a{
  padding-top: 48px;  
  padding-left: 25px;
  padding-right:  25px;
  display:inline-block;
  border-top: transparent 2px solid;
}
header > nav > a:hover{
    border-top: #0065fc 2px solid;
    color:#0065Fc;
   
}



form{
display:flex;

}

.icon-location{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height:50px;
    border-radius: 15px 0 0 15px ;
    background-color: #F2F2F2;

}

input{
    font-weight: 700;
    font-size: 18px;
    font-family: raleway,sans-serif;
    height: 50px;
    width: 230px;
    border-radius: 0px;
    padding:0 15px;
          
}
button{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #0065Fc;
    color: white;
    font-weight: 700;
    font-size: 18px; 
    font-family: raleway,sans-serif;
    border-radius:0 15px 15px 0 ;
    height: 50px;
    padding : 0 15px ; 

}
.recherche-texte{

}

.recherche-loupe{
    display:none;
}
#search-bar {
    display: flex;
     height: 45px;
     margin-top: 15px ;
}




.filterBar{
    margin : 17px;
    font-size: 12px;
    display: grid;
  
}



.iconsFilter i{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 10px 0px 10px 10px;
    gap: 10px;
    width: 22px;
    height: 22px;
    color:#0065Fc;
    border-radius: 100%;
    height: 10px;
   
}
.iconsFilter div{
   display:flex;

    border: 2px solid #d9d9d9; 
    margin: 15px;
    transition-duration: 0.1s;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    width: 175px;
    height: 48px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  
}

.iconsFilter :hover{
    background-color: #deebff;
}

.info i {
color:#0065Fc;


}

.info p {
    display: initial ;
    margin : 17px;
    font-size: 12px;
   
}   
.info{
    height: 24px;
    width: 447px;
    left: 59px;
    top: 365px;
    border-radius: 0px;
}

.hebergementMain{
    display:block ; 
    background-color: #F2F2F2;
    height: 626px;
width: 880px;
left: 50px;
top: 426px;
radius : 4px; 
border-radius: 25px;
justify-content: flex-start;
margin: ;




}
.hebergementMainHeaderTitre{
font-size: 22px;
line-height: 26px;
Line-height: 100%;
Align: Left;
Vertical-align: Top;


}

.hebergementMainTable{
display: flex;
justify-content: space-between;
justify-content: space-around;
height: 199px;
width: 246px;
left: 40px;
top: 91px;
border-radius: 20px;
background-color:#FFFFFF;
display:grid;
margin-left:40px;
margin-top: ;
}

.hebergementMainTableFigure > img{
    border-radius:0 15px 15px 0 ;

}
.hebergementMainTableStars{
color: #0065Fc;

}



.populaires{
    display:flex;
 
}